@{
    ViewBag.Title = "Home Page";
}

<div class="text-area bg-white p-3">
    <h1 class="text-uppercase">Welcome to File Harmonizer</h1>
    <p>File Harmonizer is a company of Vintage Integrated Services. Fundamentally, File Harmonizer is a technical solution for:</p>
    <ul>
        <li>Simplifying work processes</li>
        <li>Minimizing rework</li>
        <li>Decreasing overall required time to deliver deliverables</li>
        <li>Accomplishing tasks ranging from the simple to complex -- quickly and efficiently</li>
        <li>Reusing objects to boost the efficiency of creating new documents or solutions</li>
    </ul>
    <p>With  over thirteen years of experience in adapting and blending File  Harmonizer tools within various phases of leading industry methodologies  from blue print to deployment of small to large scale systems, we  realize that when using a global approach tomanage and reuse objects  (i.e. build scripts,code, component documents, designs, functional  specifications, global templates, installation scripts,plans,  requirements,technical specifications, test cases, user manuals, etc.) a  reduction in cost could be realized. Especially, when considering each  object as a "document", File Harmonizer providesan adaptable structure  which allows our tools to perform the appropriate processing required to  maximize the reuse of documents.</p>

    <h3>Object Reuse</h3>
    <p>Process for reducing duplication; the objective is not to blindly create new objects from scratch unnecessarily, instead reuse an existing object to create a new object.</p>
    <h3>Approaches of Object Reuse</h3>
    <p>1. As Is - requires no changes be made to the Object(s)</p>
    <p>2. Transformed - requires making changes to the Object(s) or its content</p>
    <h3>Object Reuse Benefits</h3>
    <p>Reusing Objects is an efficient and smart alternative to creating objects from scratch manually from idea to print. Creating objects from persisting objects boost creation efficiency by more than 20%; the efficiency percent increases as the amount of reusable content increases.</p>
    <p>File Harmonizer complements document management tools in that it creates templates, aligns content into reusable forms, in addition to: capturing changes, storing results, archiving content and retrieving content upon request.For many organizations, the process of managing documents is extremely time-consuming. This tool is an ideal helper in that it allows documents to be modified and managed from a common tool; additionally, it createsarchive records for historical retention. File Harmonizer can be used to organize documents into easy-to-find electronic reports, archives, files etc., which can be quickly retrieved; thereby, making the documents more valuable and helpful immediately.</p>
    <p>File Harmonizer offer easy to use tools for individuals and corporations to increase productivity faster and maximize reusability of documents. We are experts in the following areas: ERP Technical Project Management, SAP ABAP, and software design and development i.e. .Net, C#, C++, unity-3d.</p>
    <p>File Harmonizer has a team of dedicated specialists in different areas of technology ranging from software conception to delivery. Senior managers to help withproject management and deployment of small to large complex implementations.</p>
</div>