
@{
    ViewBag.Title = "Industry Sector";
}




<div class="form-horizontal my-3">
    <div class="container">
        <h4>Industry Sector</h4>

        <hr />

        <div class="row">
            <div class="col-md-6">
                <div class="img-industry">
                    <img src="~/images/more-less.jpg" class="img-fluid" />
                </div>
                <div class="Industry-title">
                    <h3>Do more with less</h3>
                </div>
            </div>
            <div class="col-md-6">
                <div class="img-industry">
                    <img src="~/images/re-do.jpg" class="img-fluid" />
                </div>
                <div class="Industry-title">
                    <h3 >Reduce Rework</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="img-industry">
                    <img src="~/images/Improvedataquality.jpg" class="img-fluid" />
                </div>
                <div class="Industry-title">
                    <h3 >Improve Data Quality</h3>
                </div>
            </div>
            <div class="col-md-6">
                <div class="img-industry">
                    <img src="~/images/customexp.jpg" class="img-fluid" />
                </div>
                <div class="Industry-title">
                    <h3 >Imporved Customer Experience</h3>
                </div>
            </div>
        </div>
    </div>
</div>

