
@{
  ViewBag.Title = "File Harmonizer - Terms of services";
}

<style>
    .termsnconditions {
        font-size: 16px;        
        color: #545454;
    }

        .termsnconditions a {
            color: #ff6a00;
        }

        .termsnconditions h5 {
            color: #000000;
            font-weight: 700;
        }
</style>

<div class="form-horizontal my-3">
  <div class="container">
      <div class="blink_heading">
          <h4 class="page-title">Terms of Service</h4></div>

          <div class="bg-white p-3 border termsnconditions">
              <div class="text-muted mb-2">LAST  UPDATED:  12/1/2018</div>
              <p>
                  Thanks for using File Harmonizer. These terms of service ("Terms") cover your use and access to the products, services, software, platform and websites (collectively, "Services")
                  provided by File Harmonizer, LLCand any of our affiliates (collectively, "File Harmonizer"). By using our Services, you agree to be bound by these Terms as well as our <a href="#">Privacy Policy</a>. If you are using our Services as the employee or agent of an organization, you are agreeing to these Terms on behalf of that organization.<i>
                      Please note that the statements
                      set forth under the headings "More simply put" are provided as a courtesy solely for your convenience and are not legally binding or otherwise intended to modify these Terms
                      in any way.
                  </i>
              </p>
              <p>
                  You must be the legal age of majority in your state of residence or otherwise able to form a binding contract with File Harmonizerin order to use the Services. In no event is use of the Services permitted by those under theage of 13.
              </p>
              <p>
                  <h6 class="text-muted"> More simply put:</h6><br />
                  By using File Harmonizer, you agree to our Terms of Service. You also need to be an adult, as defined by the state where you live (usually that means 18).

              </p>
              <p>
                  <h5>1. Trial Offers, Auto-Renewals and Paid Accounts</h5><br />
                  File Harmonizermakes available trial offers for the limited use of the Services (each, a "Trial Offer") to new customers who provide a valid
                  payment instrument, such as a credit card or other payment method. If you choose to start a Trial Offer, you will automatically join the paid
                  membership you have chosen at the end of the Trial Offer and you authorize File Harmonizerto charge your payment method a recurring monthly membership
                  fee or annual membership fee, as applicable. If you wish to use additional Services beyond those included in the Trial Offer, you may be asked to
                  separately purchase those Services or to upgrade to a paid membership prior to the end of the Trial Offer period. Please visit our <a href="#">Plans and Pricingpage</a>
                  for additional details on our available memberships.
              </p>
              <p>
                  <div class="box">
                      File Harmonizermay automatically charge you at the end of the trial or for a membership renewal unless you notify us that you want to
                      cancel ordowngradeyour membership. You can <a href="#">downgrade</a> an auto-renewing paid membership to a free account at any time.
                  </div>
              </p>
              <p>
                  To ensure uninterrupted service and to enable you to conveniently purchase additional products and services, File Harmonizerwill store and update (e.g. upon expiration)
                  your payment method on file. If we are unable to charge your designated payment method for any reason, we reserve the right to automatically downgrade your paid plan to
                  a lower-priced plan or to suspend your paid membership until your designated payment method can be charged again. Please note that it is your responsibility to
                  maintain current billing information on file with File Harmonizer.
              </p>
              <p>
                  <h6 class="text-muted"> More simply put:</h6><br />
                  When you sign up for a free trial, we'll convert you to a paid membership at the end of your trial unless you cancel first.
                  Monthly memberships will automatically renew each month, but you can cancel or downgrade at any time.
              </p>
              <p>
                  <a href="#" class="text-danger"> BACK TO THE TOP</a>
              </p>
              <p>
                  <h5>2. Refund Policy </h5><br />
                  We want you to be 100% satisfied with our Services. If you are less than satisfied or believe there has been an error
                  in billing, please contact our Customer Service Department by email at <a href="#">support@FileHarmonizer.com</a> or by telephone at (877) 881-0947 immediately so that we
                  can help you resolve the issue, provide a refund or offer credit that can be used for future Services.
              </p>
              <p>
                  When contacting us, please include any details relating to the Services you have purchased so that we can ensure you are completely satisfied with
                  your File Harmonizerexperience. All refund requests must be made within 30 days of purchase. If you wish to cancel an annual membership, you may apply to
                  receive a prorated refund for the remaining time which has not been used. In order to apply for a refund relating to an annual membership,
                  please email <a href="#">refundrequest@FileHarmonizer.com</a> or call us at (877) 881-0947.
              </p>
              <p>
                  We do not offer refunds on payments we have collected for incorporation-related services (including without limitation registered agent services) or
                  to other third parties with a role in processing your order. We also cannot refund any money paid by you directly to third parties, such as payments made by you directly to Participating Attorneys.
              </p>
              <p>
                  <h6 class="text-muted"> More simply put:</h6><br />
                  We gladly offer refunds for billing mistakes. If you change your mind and want to cancel an account that you paid for upfront, we can give you a prorated refund.
                  Unless you have a good reason, we don't give refunds for services that you've already used.
              </p>
              <p>
                  <a href="#" class="text-danger"> BACK TO THE TOP</a>
              </p>
              <p>
                  <h5> 3. Membership Downgrade</h5><br />
                  To downgrade your membership online, please click <a href="#">here</a> and follow the instructions. Alternatively, you may call our customer service team
                  at (877) 881-0947 during our regular business hours (6:00am-6:00pm Monday-Friday Pacific Time).
              </p>
              <p>
                  Please note that if you choose to downgrade your membership, File Harmonizerreserves the right to collect fees from you to
                  cover fees charged to File Harmonizeror its agents on behalf of your account. In addition, if you fail to provide a payment on time, File Harmonizerreserves the right to downgrade your membership
                  without prior notice. Please note that downgrading does not affect your ability to access the documents you created on File Harmonizer's website.
              </p>
              <p>
                  <h6 class="text-muted"> More simply put:</h6><br />
                  You can downgrade your account at any time. If you stop paying for your account, we may downgrade it for you.
              </p>
              <p>
                  <a href="#" class="text-danger"> BACK TO THE TOP</a>
              </p>
              <p>
                  <h5> 4. File Harmonizeris Not a Law Firm and Does Not Provide Legal Advice</h5><br />
                  File Harmonizerprovides a platform for legal information and self-help. The information provided by File Harmonizeralong with the content on our website related to
                  legal matters ("Legal Information") is provided for your private use and does not constitute legal advice. We do not review any information you provide us for legal
                  accuracy or sufficiency, draw legal conclusions, provide opinions about your selection of forms, or apply the law to the facts of your situation.
              </p>
              <p>
                  If you need legal advice for a specific problem, you should consult with a licensed attorney. Neither File Harmonizernor any Legal Information provided by
                  File Harmonizeris a substitute for legal advice from a qualified attorney licensed to practice in an appropriate jurisdiction. As File Harmonizeris not a law firm,
                  please note that communications between you and File Harmonizermay not be protected as privileged communications under the attorney-client privilege or work product doctrine. Also,
                  if you use the File HarmonizerQ&A service, the communications between you and the Participating Attorney who answers your question may not be protected as privileged communications
                  under the attorney-client privilege or work product doctrine.
              </p>
              <p>
                  Your use of the Services does not create an attorney-client relationship between you and File Harmonizer, or between you and any File Harmonizeremployee or representative.
                  Unless you are otherwise represented by an attorney, including a Participating Attorney, you represent yourself in any legal matter you undertake throughour Services.
              </p>
              <p>
                  File Harmonizeris not a "Lawyer Referral Service". The directory of lawyers published on our website is provided to the public free of charge and is for informational purposes only.
                  File Harmonizerdoes not endorse or recommend any attorneynor does it make any warranty as to the qualifications or competency of any attorney.
              </p>
              <p>
                  <h6 class="text-muted"> More simply put:</h6><br />
                  File Harmonizerdoes not provide legal advice—only a licensed attorney can do that. Although we can connect you with independent lawyers through our On Call network,
                  File Harmonizeris not responsible for the advice they give.
              </p>
              <p>
                  <a href="#" class="text-danger"> BACK TO THE TOP</a>
              </p>
              <p>
                  <h5>5. Interactions with Attorneys on File Harmonizer</h5><br />
                  When you use our Services, you will have the opportunity to initiate contact with an independent attorney (a "Participating Attorney"). Participating Attorneys are neither
                  employees nor agents of File Harmonizer. Participating Attorneys are third-party independent contractors who carry their own malpractice insurance and have agreed to provide
                  online answers, limited consultations or other basic legal services to File Harmonizerusers. Communicating with a Participating Attorney through File Harmonizeris NOT required.
                  However, if you choose to communicate with a Participating Attorney through File Harmonizer, please note the following:
              </p>
              <p>
                  <ul>
                      <li>
                          When you contact a Participating Attorney through File Harmonizer, he or she may provide you with an initial consultation, legal review of your forms or documents, or answers to your legal questions. Please note that any such interaction is intended to be a starting point for dealing with a legal matter or
                          addressing basic legal questions and any attorney-client relationship formed during the course of that interaction is strictly between you and the Participating Attorney and expressly EXCLUDES File Harmonizer.
                      </li>
                      <li>
                          When you contact a Participating Attorney through File Harmonizer, he or she may ask you for some information regarding you and your legal affairs in order to properly address your questions. By using our Services, you consent to sharing such personally identifying information for the purpose securing legal advice with both the requesting attorney and with File Harmonizer. File Harmonizerwill have access to any communications submitted through our platform for fulfilment and quality assurance purposes.
                      </li>
                      <li>
                          When you contact a Participating Attorney through File Harmonizer, you control the both the duration and depth of the interaction. Any attorney-client relationship formed during the course of that interaction may, at your option, either
                          <br />
                          i.end when the interaction with the Participating Attorney ends, or<br />
                          ii.continue if you wish to engage the Participating Attorney for further legal services.
                      </li>
                      <li>
                          If you wish to create an attorney-client relationship with a Participating Attorney that extends beyond your use of our Services, that relationship will be on whatever terms you establish with the attorney in question. Those terms do NOT involve File Harmonizerand, except for pre-negotiating special discounts for our members, we do not set, control or influence them. For example, the Participating Attorney may ask you to sign a formal representation agreement regarding the scope of work they will perform, the cost of their legal services, and the handling of any out of pocket expenses they may incur
                      </li>
                      <li>
                          Participating Attorneys may be compensated by File Harmonizerfor Services performed on your behalf, however, File Harmonizerdoes not receive any share of legal fees collected by any attorneys in our network. In all cases, File Harmonizerwill not influence or interfere in any way with any attorney's independent professional judgment. Participating Attorneys reserve the right to refuse to perform legal serviceson your behalf in their sole discretion.
                      </li>
                      <li>
                          File Harmonizeris an information provider and does not endorse or recommend any attorney, including any of the Participating Attorneys. File Harmonizermakes no representation or warranty as to the qualifications or competency of any Participating Attorney or as to the accuracy or completeness of any Participating Attorney's work.
                      </li>
                  </ul>
                  <div class="text-capitalize">
                      FILE HARMONIZERSHALL HAVE NO RESPONSIBILITY OR LIABILITY OF ANY KIND FOR ANY PROFESSIONAL SERVICES RENDERED BY ANY ATTORNEY YOU ENCOUNTER ON OR THROUGH OUR WEBSITE, AND ANY USE OR RELIANCE ON SUCH PROFESSIONAL SERVICES IS SOLELY AT YOUR OWN RISK.
                  </div>
              </p>
              <p>
                  <h6 class="text-muted"> More simply put:</h6><br />
                  The attorneys you find through our website are independent contractors, not File Harmonizeremployees, so they're free to set their own terms and fees. File Harmonizeris not responsible for the services or advice they give. We can access any messages you sendto an attorney through the File Harmonizerwebsite for fulfillment and quality assurance purposes.
              </p>
              <p>
                  <a href="#" class="text-danger"> BACK TO THE TOP</a>
              </p>
              <p>
                  <h5>6. Attorney Profiles on our Website are Advertisements</h5>
                  Attorney profiles on our website are advertisements and should be interpreted as such. File Harmonizerdoes not investigate, verify or warrant the accuracy of the information contained in any attorney profile on our website. Participating Attorneys are third-party independent contractors solely responsible for the advice they give, the services they provide and the representations about themselves they make. You are solely responsible for assessing the quality, integrity, suitability and trustworthiness of all persons with whom you communicate regarding your legal needs.
              </p>
              <p>
                  <h6 class="text-muted"> More simply put:</h6><br />
                  We provide a lawyer directory as a free public service, not a list of endorsements. It's up to you to research any lawyer you're thinking about hiring.
              </p>
              <p>
                  <a href="#" class="text-danger"> BACK TO THE TOP</a>
              </p>

              <p>
                  <h5>7. Business Filings and Registered Agent Service</h5><br />
                  File Harmonizeroccasionally partners with other companies to fulfill business formation, registered agent or other business filing orders. You understand and agree that File Harmonizerwill share certain personally identifiable information for you with the applicable third-party provider.

              </p>
              <p>
                  States require your incorporated entity to have a registered agent or an equivalent on file with their department of the Secretary of State. By purchasing Registered Agent service from File Harmonizer, you authorize File Harmonizerand/or its third-party provider to receive service of process, including any notices of legal proceedings, other legal notices, or official government communication, and any items covered by the respective statute, rule, or regulation on your behalf. You further authorize your Registered Agent to scan, upload and transmit any such communications received on your behalf to your email address and into your account. When appropriate, File Harmonizerand/or its partners may also forward physical mail received on
                  your behalf to the business address we have on record. To update, please contact us at (877) 881-0947 or <a href="#">contact@FileHarmonizer.com </a>. File Harmonizer's filing services are intended for users incorporating their own business(es). Communications related to File Harmonizerfilings will be directed towards the business address and business owner we have on file.
              </p>
              <p>
                  File Harmonizer's filing services are intended for users incorporating their own business(es). Communications related to File Harmonizerfilings will be directed towards the business address and business owner we have on file.
              </p>
              <p>
                  To ensure uninterrupted service, Registered Agent service will automatically renew for successive 1 year terms at the end of each subscription period. If you do not opt out of this auto-renewal program, File Harmonizerwill charge the payment method (e.g., credit card, debit card, or PayPal) you provided with the original order and renew you for the service term you selected. File Harmonizerreserves the right to increase all service fees at any time without notification to you. We will, however, notify you of any increase in service fees prior to renewing your service.
              </p>
              <p>
                  You may cancel the Registered Agent Service at any time by contacting File Harmonizerat (877) 881-0947 during our normal business hours. In addition to cancelling the Registered Agent service, to comply with your state's regulations, you will also need to submit appropriate change of agent paperwork with the applicable state agencies. By canceling the File HarmonizerRegistered Agent Service, you acknowledge and understand that the registered agent service provider will take necessary steps to resign as your registered agent. Upon resignation, File Harmonizerand any of its affiliates, directors, agents, employees, or other File Harmonizerservice providers will cease to act as your Registered Agent and stop all Registered Agent related services. Any fees associated with completing such a change of agent are your sole responsibility. Specific information regarding the change of registered agent process and any related government fee information can be found on your state's website. File Harmonizerdoes not offer full or prorated refunds for cancelled Registered Agents services. Such services are purchased and renewed on an annual basis and must be cancelled prior to the renewal date to avoid recurring annual charges.
              </p>
              <p>
                  In the event that your entity is dissolved, either voluntarily or involuntarily, it is your responsibility to notify File Harmonizerof this dissolution so that we may cancel the Registered Agent services that are no longer needed. Until we are notified otherwise, your Registered Agent subscription will continue to renew and bill as described in this section.
              </p>
              <p>
                  In the event that File Harmonizerdoes not receive full payment, File Harmonizerreserves the right to terminate your Registered Agent service. You agree to bear any risk and under no circumstances will File Harmonizerbe liable or responsible for any damage or inconvenience caused or alleged to be caused by termination.
              </p>

              <p>
                  <h6 class="text-muted"> More simply put:</h6><br />
                  File Harmonizerwill share your information with its partners in order to fulfill business services purchased through File Harmonizer. Registered Agent services will automatically renew unless you choose to cancel. File Harmonizerreserves the right to cancel your service if payment is not received.
              </p>
              <p>
                  <a href="#" class="text-danger"> BACK TO THE TOP</a>
              </p>
              <p>
                  <h5> 8. Termination of Membership and Access Restriction</h5><br />
                  File Harmonizerreserves the right, in its sole discretion, to downgrade or terminate your access to the Services, for any reason and at any time without prior notice. For example, we may suspend or terminate your use of the Services if you are not complying with these Terms, or if you are using the Services in a manner that would expose us to legal liability, disrupt the Services or disrupt others' use of the Services.

              </p>
              <p>
                  If File Harmonizerelects to terminate your account, File Harmonizerwill provide you with notice at your registered email address. File Harmonizeralso reserves the right to modify or discontinue, either temporarily or permanently, any part of its Services with notice. You agree that File Harmonizerwill not be liable to you or to any third party for any modification, suspension, or discontinuance of your membership in the Services.
              </p>
              <p>
                  <h6 class="text-muted"> More simply put:</h6><br />
                  File Harmonizerhas the right to downgrade or cancel your account at any time. This is a very rare occurrence, and would only happen if you were violating the terms, breaking the law, or otherwise misusing the service.
              </p>
              <p>
                  <a href="#" class="text-danger"> BACK TO THE TOP</a>
              </p>

              <p>
                  <h5>9. Ownership and Preservation of Your Documents</h5><br />
                  File Harmonizerdoes not claim ownership of any documents you either create or upload and store using our Services ("Documents"). You grant permission for File Harmonizerto use your Documents in connection with providing Services to you.
              </p>
              <p>
                  You acknowledge and agree that File Harmonizermay preserve these Documents as well as disclose them if required to do so by law or in the good faith belief that such preservation or disclosure is reasonably necessary to accomplish any of the following: (1) to comply with legal process, applicable laws or government requests;(2) to enforce these Terms; (3) to respond to claims that any content violates the rights of third parties; or (4) to protect the rights, property, or personal safety of File Harmonizer, its users and the public. You understand that the technical processing and transmission of the Service, including your content, may involve transmissions over various networks and changes to conform and adapt to technical requirements of connecting networks or devices. You agree that File Harmonizerhas no responsibility or liability for deleting or failing to store any content maintained or uploaded by the Services.
              </p>
              <p>
                  <h6 class="text-muted"> More simply put:</h6><br />
                  The documents you create and store on our website belong to you. But if required to by law, we have the right to share them with law enforcement.
              </p>
              <p>
                  <a href="#" class="text-danger"> BACK TO THE TOP</a>
              </p>
              <p>
                  <h5>10. Consent to Receive Emails</h5><br />
                  By creating an account, you agree that you may receive communications from File Harmonizer, such as newsletters, special offers, and account reminders and updates. You also understand that you can remove yourself from these communications by clicking the "Unsubscribe" link in the footer of the actual email.
              </p>
              <p>
                  <h6 class="text-muted"> More simply put:</h6><br />
                  File Harmonizermay send you emails, but you can unsubscribe at any time.
              </p>
              <p>
                  <a href="#" class="text-danger"> BACK TO THE TOP</a>
              </p>
              <p>
                  <h5>11. Validity of Electronic Signatures</h5><br />
                  File Harmonizerenables you to send and receive valid e-signatures in the United States under the 2000 U.S. Electronic Signature in Global and National Commerce Act (ESIGN) and the Uniform Electronic Transactions Act (UETA) as adopted by individual states. File Harmonizerdoes not authenticate users' signatures or identities.
              </p>
              <p>
                  By using the Services, you hereby consent to using electronic signatures on File Harmonizer. You also agree that no certification authority or other third party verification is necessary to validate your electronic signature and that the lack of such certification or third party verification will not in any way affect the enforceability of your electronic signature or any resulting contract signed using File Harmonizer's electronic signature service and technology. File Harmonizerdoes not authenticate users' signatures or identities.

              </p>
              <p>
                  <h6 class="text-muted"> More simply put:</h6><br />
                  File Harmonizer's electronic signature service offers you legally binding signatures.
              </p>
              <p>
                  <a href="#" class="text-danger"> BACK TO THE TOP</a>
              </p>
              <p>
                  <h5>12. Acceptable Use of Communications Services</h5><br />
                  Our Services include a large number of what are collectively called "Communications Services." These include services such as live chats, comment threads, blog posts, question and answer products, customer service communication forums, calendars, and other message services. You agree to use the Communication Services only to post, send, and receive messages or materialsproper to and related to the particular Communication Service. When using a Communication Service, you agree that you will not do any of the following:
                  <ul>
                      <li>
                          Defame, abuse, harass, stalk, threaten or otherwise violate the legal rights of others.
                      </li>
                      <li>
                          Publish, post, upload, distribute or disseminate any names, materials, or information that is considered inappropriate, profane, defamatory, infringing, obscene, indecent, or unlawful.
                      </li>
                      <li>
                          Create a false identity, represent yourself as someone else, or sign an agreement as someone else or on behalf of someone else or otherwise falsify or delete in an uploaded file any significant attributions or notices.
                      </li>
                      <li>
                          Upload files that contain software or other material protected either by intellectual property laws or by the rights of privacy or publicity except when<br />
                          i.you own or control the necessary rights, or <br />
                          ii.you have received all necessary consents to do so.
                      </li>
                      <li>
                          Upload corrupted files, files that contain viruses, or any other files that may damage the operation of another's computer.

                      </li>
                      <li>
                          Advertise, offer to sell, or offer to buy anything for business purposes except to the limited extent any particular Communication Service specifically allows such activity.
                      </li>
                      <li>
                          Restrict or inhibit any other user from using and enjoying the Communication Services.
                      </li>
                      <li>
                          Harvest or otherwise collect personally identifiable information about others, without their consent.
                      </li>
                      <li>
                          Violate any code of conduct or other guidelines, which may be applicable for any particular Communication Service.
                      </li>
                      <li>
                          Violate any applicable laws or regulations.
                      </li>
                  </ul>
              </p>
              <p>
                  Although File Harmonizerhas no obligation to monitor the Communication Services, we reserve the right, in our own discretion, to review and remove materials posted to a Communication Service, in whole or in part. File Harmonizerreserves the right to disclose any materials posted, information or activity as necessary to satisfy any applicable law, regulation, legal process, or governmental request.
              </p>
              <p>
                  <h6 class="text-muted"> More simply put:</h6><br />
                  We offer a lot of ways to communicate through our website, likemessage boards, live chats, blog comments, and more. You agree to use those services as intended, and not to post anything illegal or abusive.
              </p>
              <p>
                  <a href="#" class="text-danger"> BACK TO THE TOP</a>
              </p>
              <p>
                  <h5>13. No Unlawful or Prohibited Use</h5><br />
                  You can only use our Services if they do not conflict with or violate the laws of your jurisdiction(s). The availability of our Services in your jurisdiction(s) is not an invitation or offer by File Harmonizerto access or use our websiteor Services. By using our Services, you accept sole responsibility that you or any family member's use of or access to our Services does not violate any applicable laws in your jurisdiction(s). To enforce this provision, File Harmonizerreserves the rightto refuse membership, or suspend or terminate your account immediately and without prior notice at our sole discretion.
              </p>
              <p>
                  The following are specifically excluded or prohibited:
                  <ul>
                      <li>
                          Use in connection with any legal matter that is frivolous, immaterial or illegalin nature, as determined by File Harmonizeror the Participating Attorney in their sole discretion;
                      </li>
                      <li>
                          Use in connection with any legal matter involving an alleged violent crime;
                      </li>
                      <li>
                          Use in connection with any legal matter involving the laws of jurisdictions outside of the United States or its subdivisions;
                      </li>
                      <li>
                          Use in connection with any legal matter for which you are currently or prospectively represented by legal counsel.
                      </li>
                      <li>
                          Use in connection with any legal matter that, as determined by the Participating Attorney in his or her sole discretion, lacks sufficient merit to warrant pursuit, or that has been raised an excessive or unreasonable number of times without a change in circumstances;
                      </li>
                      <li>
                          Use in connection with any legal matter that directly or indirectly involves any Participating Attorney other than as your counsel;
                      </li>
                      <li>
                          Use in connection with any legal matter that directly or indirectly involves File Harmonizeror any of its affiliates, directors, agents, employees, or other File Harmonizerservice providers; or
                      </li>
                      <li>
                          Use in connection with any legal matter in which your Program Sponsor has an adverse interest, or in which any director, officer, agent or employee thereof has an adverse interest. For the purposes of this provision, "Program Sponsor" means any company, organization or affiliation that purchases or offers on behalf of its members or employees, a File Harmonizerlegal plan through wholesale channels, retail channels or otherwise. Please see your Program Sponsor for additional restrictions.
                      </li>

                  </ul>
              </p>
              <p>
                  You may not hack, "scrape" or "crawl" FileHarmonizer.comwhether directly or through intermediaries such as spiders, robots, crawlers, scrapers, framing, iframes or RSS feeds, or otherwise access or attempt to access any information File Harmonizerhas not intentionally made available to you on its website via purchased subscription. Your use of the File Harmonizerwebsite does not entitle you to resell any File Harmonizercontent without prior express written consent from File Harmonizer.
              </p>
              <p>
                  <h5> More simply put:</h5><br />
                  If for any reason it would be illegal for you to use File Harmonizerservices, you agree not to do so. You also agree not to use File Harmonizerfor frivolous lawsuits, international affairs, violent crimes, or to sue File Harmonizeritself.
              </p>
              <p>
                  <a href="#" class="text-danger"> BACK TO THE TOP</a>
              </p>
              <p>
                  <h5>14. License Grant</h5><br />
                  Subject to your compliance with these Terms, you are hereby granted a non-exclusive, limited, non-transferable, revocable license to use the Services as we intend for them to be used. As a registered File Harmonizeruser, you are licensed to keep, for yourown personal records, electronic or physical copies of documents you have created on File Harmonizer. You may not copy the content of File Harmonizer's forms or agreements for use or sale outside of File Harmonizer. Any rights not expressly granted in these Terms are reserved by File Harmonizer.
              </p>
              <p>
                  When you transmit user content on File Harmonizer, you hereby grant File Harmonizerand its affiliates a nonexclusive, royalty-free, perpetual, irrevocable and fully sublicensable right to use, reproduce, modify, adapt, publish, translate, create derivative works from, distribute, perform and display any such content,
                  including throughout the world in any media. If you submit feedback or suggestions about our Services, we may use your feedback or suggestions withoutobligation to you.
              </p>
              <p>
                  Resale or unauthorized distribution of materials downloaded from the File Harmonizerwebsite is strictly prohibited. Use of these materials is for your personal or business use. Any resale or redistribution of our materials requires theexpress, written consent of File Harmonizer.
              </p>
              <p>
                  <h5> More simply put:</h5><br />
                  As long as you follow these terms, you're welcome to use all File Harmonizerservices in the manner intended. The documents you create are yours for personal use, but you can't sell or give away the File Harmonizertemplate they're based on.
              </p>
              <p>
                  <a href="#" class="text-danger"> BACK TO THE TOP</a>
              </p>
              <p>
                  <h5>15. Intellectual Property Rights</h5><br />
                  File Harmonizerretains all right, title and interest in and to its products and services, including, without limitation, software, images, text, graphics, illustrations, logos, service marks, copyrights, photographs, videos, music, and all related intellectual property rights. Except as otherwise provided in this agreement, you may not, and may not permit others to:<br />
                  i.reproduce, modify, translate, enhance, decompile, disassemble, reverse engineer or create derivative works of any of our products and services;<br />
                  ii.sell, license, sublicense, rent, lease, distribute, copy, publicly display, publish, adapt or edit any of our products and services; or<br />
                  iii.circumvent or disable any security or technological features of our products and services.<br />
                  The design, text, graphics and selection and arrangement thereof and services and the legal forms, documents, guidance and all other content found on our website ("Service Content") are copyright © File Harmonizer, LLC. All rights reserved.
              </p>
              <p>
                  File Harmonizer® and File HarmonizerOn Call® are registered trademarks in the U.S. Patent and Trademark Office. FileHarmonizer.com®is a trademark of File Harmonizer. These and any other File Harmonizerproduct or service names or slogans displayed on File Harmonizerproducts are trademarks of File Harmonizer, LLC. You may not copy, imitate or use them, in whole or in part, without our prior written consent. In addition, the look and feel of File Harmonizeris the service mark, trademark and/or trade dress of File Harmonizer, LLCand you may not copy, imitate or use it, in whole or in part, without our prior written consent. The names of actual companies and products you might encounter through us may be the trademarks of their respective
                  owners. Nothing in these Terms orthe Services should be understood as in any way granting any license or right to use any of File Harmonizer's trademarks displayed on our website. All goodwill generated from the use of File Harmonizer's trademarks is reserved for the use of File Harmonizer, exclusively.
              </p>
              <p>
                  <h6 class="text-muted"> More simply put:</h6><br />
                  The File Harmonizerlogo, software, trademarks, products, and services belong to us. You agree not to copy or sell any of our intellectual property.
              </p>
              <p>
                  <a href="#" class="text-danger"> BACK TO THE TOP</a>
              </p>
              <p>
                  <h5>16. Copyright and DMCA</h5><br />
                  We respond to notices of alleged copyright infringement and terminate accounts of repeat infringers according to the process set out in theU.S. Digital Millennium Copyright Act.
              </p>
              <p>
                  If you believe that any material on our website infringes upon any copyright which you own or control, you may file a DMCA Notice of Alleged Infringement with File Harmonizer's Designated Copyright Agent:
              </p>
              <p>
                  File Harmonizer, LLC<br />
                  Attn: Legal Department<br />
                  182 Howard Street, Suite 830, Cincinnati, OH 45208<br />
                  Email:<a href="#">legal@FileHarmonizer.com</a>
              </p>
              <p>
                  <h6 class="text-muted"> More simply put:</h6><br />
                  We comply with the U.S. Digital Millennium Copyright Act, and expect ourusers to, as well.
              </p>
              <p>
                  <a href="#" class="text-danger"> BACK TO THE TOP</a>
              </p>

              <p>
                  <h5>17. Links to Third Party Sites</h5><br />
                  File Harmonizer's websites may contain links to third party resources and businesses on the Internet, called here "links" or "Linked Sites." Those links are provided for your convenience to help you identify and locate other Internet resources that may be of interest to you. File Harmonizerdoes not sponsor and is not legally associated with any third party "linked sites." File Harmonizeris not legally authorized to use any trade name, registered trademark, logo, official seal or copyrighted material that may appear in the link.
              </p>
              <p>
                  File Harmonizerdoes not control, endorse or monitor the contents of any Linked Site. That includes, without limitation, any further link contained in a Linked Site, and any changes or updates to a Linked Site. File Harmonizeris not responsible for webcasting or for any other form of transmission received from any Linked Site. These Terms do not cover your interaction with Linked Sites. You should carefully review the terms and conditions and privacy policies of any third party sites.
              </p>
              <p>
                  If you use any service provided on a Linked Site, (a) File Harmonizerwill not be responsible for any act or omission of the third party, including the third party's access to or use of your customer data and (b) File Harmonizerdoes not warrant or support any serviceprovided by the third party.
              </p>
              <p>
                  <h6 class="text-muted"> More simply put:</h6><br />
                  The links we provide to other websites are for your information only. We don't endorse and are not responsible for the content on those sites.
              </p>
              <p>
                  <a href="#" class="text-danger"> BACK TO THE TOP</a>
              </p>

              <p>
                  <h5>18. Disclaimer of Representations and Liability</h5><br />
                  <h6>Please read this section carefully as it affects your rights</h6><br />
                  The information, software, products, and services made available through File Harmonizermay include inaccuracies or typographical errors. File Harmonizerand/or its suppliers may at any time make improvements or changes to our Services. Information received via File Harmonizershould not be relied upon for personal, medical, legal, or financial decisions. You should consult an appropriate professional for specific advice tailored to your situation. In short, your use of our Services is at your own risk.
              </p>
              <p>
                  <div class="text-capitalize">
                      TOTHE FULLEST EXTENT PERMITTED BY LAW, FILE HARMONIZERAND ITS AFFILIATES, SUPPLIERS AND DISTRIBUTORS MAKE NO WARRANTIES, EITHER EXPRESS OR IMPLIED, ABOUT THE SERVICES. THE SERVICES ARE PROVIDED "AS IS." WE ALSO DISCLAIM ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT. INFORMATION AND OPINIONS RECEIVED VIA THE WEBSITE SHOULD NOT BE RELIED UPON FOR PERSONAL, MEDICAL, LEGAL OR FINANCIAL DECISIONS AND YOU SHOULD CONSULT AN APPROPRIATE PROFESSIONAL FOR SPECIFIC ADVICE TAILORED TO YOUR SITUATION.<br /><br />
                      TO THE FULLEST EXTENT PERMITTED BY LAW, IN NO EVENT WILL FILE HARMONIZER, ITS AFFILIATES, SUPPLIERS OR DISTRIBUTORS BE LIABLE FOR ANY INDIRECT, SPECIAL, INCIDENTAL, PUNITIVE, EXEMPLARY OR CONSEQUENTIAL DAMAGES OR ANY LOSS OF USE,                DATA, BUSINESS, OR PROFITS, REGARDLESS OF LEGAL THEORY, WHETHER OR NOT FILE HARMONIZERHAS BEEN WARNED OF THE POSSIBILITY OF SUCH DAMAGES, AND EVEN IF A REMEDY FAILS OF ITS ESSENTIAL PURPOSE.<br /><br />
                      FILE HARMONIZER'S AGGREGATE LIABILITY FOR ALL CLAIMS RELATING TO THE SERVICES SHALL IN NO EVENT EXCEED THE GREATER OF $500 OR THE AMOUNT PAID BY YOU TO FILE HARMONIZERFOR THE 12 MONTHS PRECEDING THE SERVICES IN QUESTION.
                  </div>
              </p>
              <p>
                  <h6 class="text-muted"> More simply put:</h6><br />
                  While we do our best to make sure everything is accurate and up to date, your use of our website is at your own risk. Please don't make personal, medical, legal, or financial decisions without consulting a professional.
              </p>
              <p>
                  <a href="#" class="text-danger"> BACK TO THE TOP</a>
              </p>

              <p>
                  <h5>19. Release and Indemnity</h5><br />
                  On behalf of yourself and your heirs, executors, agents, representatives, and assigns, fully release, forever discharge, and hold File Harmonizer, your Program Sponsor and its affiliates and their respective officers, employees, directors and agents harmless from any and all losses, damages, expenses, including reasonable attorneys' fees, rights, claims, and actions of any kind and injury (including death) arising out of or relating to your use of the Service. You agree that this release has been freely and voluntarily consented to and you confirm that you fully understand what you are agreeing to.

              </p>
              <p>
                  You agree to indemnify and hold File Harmonizer, your Program Sponsor and its affiliates and their respective officers, employees, directors and agent harmless from any and all losses, damages, expenses, including reasonable attorneys' fees, rights, claims, actions of any kind and injury (including death) arising out of any third party claims relating to your use of the Service, your violation of these Terms or your violation of any rights of another.
              </p>
              <p>
                  <h6 class="text-muted"> More simply put:</h6><br />
                  File Harmonizeris not responsible for anything that happens as a result of you violating these terms, violating someone else's rights, or a third-party claim.
              </p>
              <p>
                  <a href="#" class="text-danger"> BACK TO THE TOP</a>
              </p>

              <p>
                  <h5>20. Dispute Resolution By Binding Arbitration and Class Action Waiver</h5><br />
                  <div class="text-capitalize">PLEASE READ THIS SECTION CAREFULLY, AS IT AFFECTS YOUR RIGHTS.</div><br />
                  Most customer concerns can be resolved quickly and to the customer's satisfaction by calling our Customer Service Department at 1-513-445-4954. You can also email us at <a href="#"> customerservice@FileHarmonizer.com</a>.
              </p>
              <p>
                  However, if File Harmonizeris not able to resolve a dispute with you after attempting to do so informally, then as a condition to your use of the Services we mutually agree to resolve such dispute through binding arbitration under the auspices of <a href="#"> JAMS Alternative Dispute Resolution</a> ("JAMS") . JAMS will administer any such arbitration under its Commercial Arbitration Rules and the Supplementary Procedures for Consumer Related Disputes. The arbitrationwill be held in the United States county where you live or work, Cincinnati (OH), or any other location as to which we may then mutually agree. A party seeking arbitration must first send to the other, by certified mail, a written notice of dispute.
              </p>
              <p>
                  Any notice to File Harmonizershould be addressed to File Harmonizer, LLC, 2692 Madison Rd, Ste N1-203, Cincinnati, OH 45208, Attention: General Counsel. Any notice to you shall be sent to your address as set forth in File Harmonizer's records of account or such other legal address as File Harmonizeris able to identify.
              </p>
              <p>
                  You may only resolve disputes with us or Participating Attorneys on an individual basis, and may not bring a claim as a plaintiff or a class member in a class, consolidated, or representative action. Class arbitrations, class actions, private attorney general actions, and consolidation with other arbitrations aren't allowed.
              </p>
              <p>
                  Notwithstanding our agreement to arbitrate our disputes as provided above, the following exceptions will apply to the resolution of disputes between us:
                  <ul>
                      <li>
                          Either you or File Harmonizermay assert claims, if they qualify, in small claims court in San Francisco, Ohioor in any United States county where you live or work without first engaging in arbitration or the informal dispute-resolution process described above.
                      </li>
                      <li>
                          File Harmonizermay bring a lawsuit against you in any court of competent jurisdiction solely for injunctive relief to stop any unauthorized use or abuse of the Services without first engaging in arbitration or the informal dispute-resolution process described above.
                      </li>
                      <li>
                          File Harmonizermay bring a lawsuit against you in any court of competent jurisdiction solely for injunctive relief to stop any intellectual property infringement without first engaging in arbitration or the informal dispute-resolution process described above.
                      </li>
                      <li>
                          In the event that the agreement to arbitrate provided herein is found to be inapplicable or unenforceable for any reason, then as a condition to your use of the Services we agree that any resulting judicial proceedings will be brought in the federal or state courts of San Francisco, Ohio, and by your use of the Services you expressly consent to venue and personal jurisdiction of the courts therein.
                      </li>

                  </ul>
              </p>
              <p>
                  File Harmonizermay, in the future, make changes to these provisions regarding dispute resolution and arbitration by providing notice in accordance with the section of these Terms entitled "Modifications" below. You may reject any changes made during your Membership by sending us written notice. Such notice must be given within thirty (30) calendar days of the notice of modification to the following address: File Harmonizer, LLC, 2692 MadisonRd, Ste N1-203, Cincinnati, OH 45208, Attention: General Counsel.
              </p>
              <p>
                  <h6 class="text-muted"> More simply put:</h6><br />
                  If you have a problem with File Harmonizerand customer service can't help, you waive your right to sue us, either individually or by class action. Instead, we'll resolve your dispute using private arbitration.
              </p>
              <p>
                  <a href="#" class="text-danger"> BACK TO THE TOP</a>
              </p>
              <p>
                  <h5>21. Controlling Law</h5><br />
                  These Terms will be governed by Ohiolaw except for its conflicts of laws principles.
              </p>
              <p>
                  <h6 class="text-muted"> More simply put:</h6><br />
                  These terms are governed by Ohiostate law.
              </p>
              <p>
                  <a href="#" class="text-danger"> BACK TO THE TOP</a>
              </p>

              <p>
                  <h5>22. Entire Agreement</h5><br />
                  These Terms constitute the entire agreement between you and File Harmonizerwith respect to the subject matter of these Terms, and supersede and replace any other prior or contemporaneous agreements, or terms and conditions applicable to the subject matter of these Terms. These Terms create no third party beneficiary rights.
              </p>

              <p>
                  <h6 class="text-muted"> More simply put:</h6><br />
                  These terms are the one and only official agreement between you and File Harmonizer.
              </p>
              <p>
                  <a href="#" class="text-danger"> BACK TO THE TOP</a>
              </p>

              <p>
                  <h5>23. Waiver, Severability and Assignment</h5><br />
                  File Harmonizer's failure to enforce a provision is not a waiver of its right to do so later. If a provision is found unenforceable, the remaining provisions of the Terms will remain in full effect and an enforceable term will be substituted reflecting our intent as closely as possible. You may not assign any of your rights under these Terms, and any such attempt will be void. File Harmonizermay assign its rights to any of its affiliates or subsidiaries, or to any successor in interest of any business associated with theServices.
              </p>
              <p>
                  <h6 class="text-muted"> More simply put:</h6><br />
                  If for some reason File Harmonizercan't or doesn't enforce part of these terms, the rest of the terms will still be valid.
              </p>
              <p>
                  <a href="#" class="text-danger"> BACK TO THE TOP</a>
              </p>


              <p>
                  <h5>24. Modifications</h5><br />
                  We may revise these Terms from time to time, and will always post the most current version on our website. If a revision meaningfully reduces your rights, we will notify you (by, for example, posting on our blog or on this page). By continuing to use or access the Services after the revisions come into effect, you agree to be bound by the revised Terms.<br />
                  If you have any questions or concerns, please visit our <a href="#">Help Page</a> or <a href="#">Contact Us </a> at any time.
              </p>

              <p>
                  <h6 class="text-muted"> More simply put:</h6><br />
                  We will always post the most current terms here on our website.
              </p>
              <p>
                  <a href="#" class="text-danger"> BACK TO THE TOP</a>
              </p>

              <p>
                  <h5>25. North Carolina Residents</h5><br />
                  If you are a North Carolina resident, the following provisions will apply to your purchases from File Harmonizer:
                  <ul>
                      <li>
                          The disclaimers of warranties and limitations of liability herein will not apply to you.
                      </li>
                      <li>
                          These Terms will not be construed to limit your recovery of damages or other remedies.
                      </li>
                      <li>
                          These Terms will not be construed to require you to agree to jurisdiction or venue in any state other than North Carolina for resolution of disputes between you and File Harmonizer.
                      </li>
                  </ul>
              </p>


          </div>
      </div>
</div>