<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
      <section name="paypal" type="PayPal.SDKConfigHandler, PayPal" />
  </configSections>
  <!-- PayPal SDK settings -->
  <paypal>
    <settings>
      <add name="mode" value="sandbox" />
      <add name="connectionTimeout" value="360000" />
      <add name="requestRetries" value="1" />
      <!-- Piyush ID working-->
      <!--<add name="clientId" value=  "AQBQxjJJpe1y-1CgR1fFKq-ftdF5C4g5mbWTcIX4scqD0IE0PLslFTrkfm-5p072igl6vs1r4OMXEYaq"/>
      <add name="clientSecret" value="EA42LAYCpneQ5lcw9VcziDi7T8_z9iUTyuU-xrA_BQWxjVR8BIzgIz3JcytcAkaQa0vUW9iQan0UPqkL" />-->
      <add name="clientId" value="Ab6Bh9vCvhCoPodB6LbJ4ekXxFCg06p2ub7v3-rSSXc_KYowDwrtvyBsqZvQyBHqGQlOcZDafArOSrqH" />
      <add name="clientSecret" value="ELmbskBBkrP3XuWZtgHeSuPoT3kYp5-ptU9iSn747lfmRgtgDQdUICirGfn17uYJd89-A4efRx2gZ-hN" />
    
  
  <!-- Client paypal
  Display Name: FH-APP
Client ID: Ab6Bh9vCvhCoPodB6LbJ4ekXxFCg06p2ub7v3-rSSXc_KYowDwrtvyBsqZvQyBHqGQlOcZDafArOSrqH
Secret: ELmbskBBkrP3XuWZtgHeSuPoT3kYp5-ptU9iSn747lfmRgtgDQdUICirGfn17uYJd89-A4efRx2gZ-hN
  -->
    </settings>
  </paypal>
  <appSettings>
    <add key="supportEmailID" value="support@fileharmonizer.com" />
    <!--<add key="supportEmailID" value=""/>-->
    
    <add key="rootDomain" value="http://" />
    <add key="domain" value="https://testfhg.fileharmonizer.com" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--<add key="FHConnStr" value="Server=VE290418B_NSEZ\SQLEXPRESS2017;User Id=sa;password=pass@123;Initial Catalog=HarmonizeDB" />-->
    <!--<add key="FHConnStr" value="Server=mi3-wsq4.t9echuta.com;User Id=fileharm_fileharm;password=@0xFo0D2M*vLt0db;Initial Catalog=fileharm_HarmonizerDB" />-->
  <add key="FHConnStr" value="Server=mi3-wsq4.a2hosting.com;User Id=fileharm_TestHarmonizerDB;password=7rN2&amp;sj9;Initial Catalog=fileharm_TestHarmonizerDB" />
  </appSettings>

  
  <system.web>
   
    
     <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
      <add name="FormsAuthentication" type="System.Web.Security.FormsAuthenticationModule" />
    </httpModules>
    
    <sessionState timeout="20" mode="InProc" cookieless="AutoDetect" regenerateExpiredSessionId="true"></sessionState>
    
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime maxRequestLength="1073741824" targetFramework="4.5" executionTimeout="360" />
     <authentication mode="Forms">
      <forms enableCrossAppRedirects="true" loginUrl="~/Account/SignIn" timeout="128" slidingExpiration="true" name="fileharminizer" path="/" protection="All" cookieless="UseCookies" />
    </authentication>
   
    
    
  <!--<healthMonitoring>
    <rules>
      <remove name="Failure Audits Default"/>
    </rules>
  </healthMonitoring>--><!--Not resolve-->
   <!--<machineKey validationKey="4FDFA1BD060B6CCC93DA1B4386B7464AEA972E11F5DB859387C68127565BD8879F184539BD97ABFBF24914A1EA149EE0346598C492303BD417954C55408ED6B1" decryptionKey="0C69F9391B8BEC398CB985E7C8074472F480F7EF4D9BFF7EF61E3AFB565ED682" validation="SHA1" decryption="AES" />-->
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="8fb06cb64d019a17" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.8.1.0" newVersion="2.8.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <asp>
      <cache diskTemplateCacheDirectory="%SystemDrive%\inetpub\temp\ASP Compiled Templates" />
       <limits scriptTimeout="00:02:00" queueConnectionTestTime="00:00:05" requestQueueMax="1000" />
    </asp>
    <security>
      <requestFiltering>
      <requestLimits maxAllowedContentLength="1073741824" />
    </requestFiltering>
    </security>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
   <httpProtocol>
       <customHeaders>
           <!--<add name="X-Frame-Options" value="http://localhost:49977" />-->
           <!--<add name="X-Frame-Options" value="http://fileharmonizer.com" />-->
       </customHeaders>
   </httpProtocol>
  </system.webServer>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
<system.net>
  <mailSettings>
    <smtp deliveryMethod="Network" from="support@fileharmonizer.com">
      <network host="mi3-wss11.a2hosting.com" port="25" enableSsl="false" userName="fhgserviceemail@fileharmonizer.com" password="verify01!" />
    </smtp>
  </mailSettings>
</system.net>
</configuration>
