<div>
    <div class="row" id="DivIdToPrint">
        <div class="col-md-12">
            <div style="float: left;">
                <div class="float-left mr-2"><label>FH#:</label></div>

            </div>
            <div style="margin-left: 220px">
                <labellabel id="LbllFHNumber">1050\Template</labellabel>
            </div>
        </div>
        <div class="col-md-12">
            <div style="float: left;">
                <div class="float-left mr-2"><label>FH Name:</label></div>

            </div>
            <div style="margin-left: 220px">
                <labellabel id="LbllFHName">1050\Template</labellabel>
            </div>
        </div>
        <div class="col-md-12">

            <div style="float: left;">
                <div class="float-left mr-2"><labellabel>Association#:</labellabel></div>

            </div>
            <div style="margin-left: 220px">
                <label id="LbllAssociateNumber">1050\Template</label>
            </div>
        </div>
        <div class="col-md-12">

            <div style="float: left;">
                <div class="float-left mr-2"><labellabel>Associate Name:</labellabel></div>

            </div>
            <div style="margin-left: 220px">
                <label id="LbllAssociatename">1050\Template</label>
            </div>
        </div>
        <div class="col-md-12">

            <div style="float: left;">
                <div class="float-left mr-2"><label>Association Date:</label></div>

            </div>
            <div style="margin-left: 220px">
                <label id="LbllAssocDate">1050\Template</label>
            </div>
        </div>
        <div class="col-md-12">

            <div style="float: left;">
                <div class="float-left mr-2"><label>Association Last Cancelled on:</label></div>

            </div>
            <div style="margin-left: 220px">
                <label id="LbllAssocCancelDate">1050\Template</label>
            </div>
            
        </div>
        <div class="col-md-12">
            <div style="float: left;">
                <div class="float-left mr-2"><label>Association Last Cancelled by:</label></div>

            </div>
            <div style="margin-left: 220px">
                <label id="LbllAssocCancelBy">1050\Template</label>
            </div>
           
        </div>
        <div class="col-md-12">
            <div style="float: left;">
                <div class="float-left mr-2"><label>Association Current Status:</label></div>

            </div>
            <div style="margin-left: 220px">
                <label id="LbllAssocStatus">1050\Template</label>
            </div>
        </div>

    </div>
    <div>
        <input type="button" id="btnCancel" class="btn btn-info" data-dismiss="modal" value="Cancel" />
        <input type="button" name="btnPrint" id="btnPrint" value="Print" class="btn btn-info" />
    </div>
</div>






<script>

    $(document).ready(function () {

        $('#btnPrint').click(function () {
            var divToPrint = document.getElementById('DivIdToPrint');

            var newWin = window.open('', 'Print-Window');

            newWin.document.open();

            newWin.document.write('<html><body onload="window.print()">' + divToPrint.innerHTML + '</body></html>');

            newWin.document.close();

            setTimeout(function () { newWin.close(); }, 10);
        });

        var FHNum = $('#SelectedRecordForUpdate').attr('attr-FHNum');
        $('#LbllFHNumber').text(FHNum);

        var FHName = $('#SelectedRecordForUpdate').attr('attr-FHName');
        $('#LbllFHName').text(FHName);

        var AssocNum = $('#SelectedRecordForUpdate').attr('attr-AssocNum');
        $('#LbllAssociateNumber').text(AssocNum);

        var Assocname = $('#SelectedRecordForUpdate').attr('attr-Assocname');
        $('#LbllAssociatename').text(Assocname);

        var DateOfAssoc = $('#SelectedRecordForUpdate').attr('attr-DateOfAssoc');
        $('#LbllAssocDate').text(DateOfAssoc);

        var AssocCancelDate = $('#SelectedRecordForUpdate').attr('attr-AssocCancelDate');
        $('#LbllAssocCancelDate').text(AssocCancelDate);

        var AssocCancelBy = $('#SelectedRecordForUpdate').attr('attr-AssocCancelBy');
        $('#LbllAssocCancelBy').text(AssocCancelBy);

        var AssocStatus = $('#SelectedRecordForUpdate').attr('attr-AssocStatus');
        $('#LbllAssocStatus').text(AssocStatus);
        debugger;
    });
</script>
