
@{
    ViewBag.Title = "Report";
}


<div class="form-horizontal my-3">
    <div class="container">
        <div id="divPartial">
            @Html.Action("UserHeader", "FHFile")
        </div>
        <h4>Report</h4>
        <hr />
        <div class="bg-white p-3 border w-100 float-left">
            <div class="text-center">
                <img src="~/images/Under Construction.PNG" />
            </div>
        </div>
    </div>
</div>


<!-- The Modal ---- To show the Pop Up on page load -->
<input type="button" id="btnShowDataActivation" style="width: 100px;" value="" class="d-none" data-toggle="modal" data-target="#myModalActivation" />
<div class="modal" id="myModalActivation">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-body" id="modelbodydataActivation">
            </div>
        </div>
    </div>
</div>

<script>
     var compare_dates = function (edate1, cdate2) {
        if (edate1 < cdate2)
            return true;
        else {
            return false;
        }
    }

    $(document).ready(function () {
        debugger;

        /////To show the Pop Up on page load
        var edate = '@ViewBag.ExpireDate';
        var cdate = '@DateTime.Today.Date.ToShortDateString()';

        if (edate != "") {
            if (compare_dates(new Date(edate), new Date(cdate)) == true) {
                $('#modelbodydataActivation').load('@Url.Action("ExipreActivation", "Report", new { token = Request.QueryString["token"] })');
                $('#btnShowDataActivation').click();
                $('#btnsave').hide();
            }
        }
    });


</script>