<div class="row ml-5" style="min-height:330px;">
    <div class="col-md-4">
        <div class="row">
            Prifixes
        </div>
        <div class="row">
            <input class="form-control" type="text" id="txtPrifix" value="@ViewBag.Prefix" />
        </div>
    </div>
    <div class="col-md-2">&nbsp;</div>
    <div class="col-md-4">
        <div class="row">
            PostFixes
        </div>
        <div class="row">
            <input class="form-control" type="text" id="txtPostfix" value="@ViewBag.Postfix" />
        </div>
    </div>
</div>
<div class=" mt-2 ">
    <div class="float-left  float-md-none">
        <a href="#" class="btn btn-info" id="btnRestoreNaming">Restore Defaults</a>
        <a href="#" class="btn btn-info ml-2"  id="btnApplyNaming">Apply</a>
        <a href="#" class="btn btn-info ml-2"  id="btnOKNaming">Ok</a>
        <a href="#" class="btn btn-info ml-2"  id="btnCancelNaming">Cancel</a>
    </div>
</div>