
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
   
</head>
<body>
    <div class="row" align="center" style="padding:30px;"> 
        <span class="text-center text-success align-middle">  Payment In Process ...</span>
    </div>
</body>
</html>
