<div>
    <div class="mt-1 mb-4">
        Association exist, do you really want to reactivate this assocation ?
    </div>
    <div>
        <input type="button" name="btnYes" id="btnYes" value="Yes" data-dismiss="modal" class="btn btn-info" />
        <input type="button" id="btnNo" class="btn btn-info" data-dismiss="modal" value="No" />
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#btnYes').click(function (e) {
            e.preventDefault();
            var RecordID = '@Session["RecordId"]';
            debugger
            $.ajax({
                type: "POST",
                url: '@Url.Action("UpdateInActiveAssociation", "Association")',
                data: '{RecordId:"' + RecordID +'"}',
                dataType: "html",
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    if (data.indexOf("Removed") >= 0) {
                        $('#btnAssociation_' + RecordID).parent().parent().remove();
                        $('#btnNo').click();
                    }
                },
                error: function (error) {
                    alert("Error! Please try again.");
                }
            });
        });
    });
</script>