
@{
    ViewBag.Title = "Convert File";
}


<div class="form-horizontal my-3">
    <div class="container">
        <div id="divPartial">
            @Html.Action("UserHeader", "FHFile")
        </div>
        <h4>Convert File</h4>
        <hr />
        <div class="bg-white p-3 border w-100 float-left">
            <div class="text-center">
                <img src="~/images/Under Construction.PNG" />
            </div>
        </div>
    </div>
</div>